<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listado Gasolineras</title>
  </head>
  <body>
  
    
    <div class="text-center mb-5">
      <h1>GASOLINE APP</h1>
    </div>
   
    <div class="example-label-container">
        <label id="example-name-label" class="example-name-label">Max Value</label>
        <label class="example-value-label">{{maxPrice}}</label>
      
      <mat-slider
          class="example-margin"
          max=4
          min=0
          step=0.25
          [(ngModel)]="maxPrice"
          aria-labelledby="example-name-label">
      </mat-slider>
      <mat-slider
          class="example-margin"
          max=4
          min=0
          step=0.25
          [(ngModel)]="minPrice"
          aria-labelledby="example-name-label">
      </mat-slider>
    </div>


<!--         <label for="customRange2" class="form-label">Precio Gasolina</label>
<input type="range" class="form-range" min="0" max="5" step="1" id="customRange2">
 -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tipo de gasolina
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Gasoil</a></li>
              <li><a class="dropdown-item" href="#">Gasolina 95</a></li>
              <li><a class="dropdown-item" href="#">Gasolina 98</a></li>
              <li><a class="dropdown-item" href="#">Gasoleo Premium</a></li>
            </ul>
          </div>


    <div class="px-5 mx-5">
        <div class="row mb-5">
            <p class="col">Nombre de la gasolinera</p>
            <p class="col">Pronvicia</p>
            <p class="col">Precio Gasoleo</p>
            <p class="col">Precio Gasolina 95</p>
            <p class="col">Precio Gasolina 98</p>
            <p class="col">Precio Gasoleo Premium</p>
          </div>
      <div *ngFor="let gas of gasList" class="row" id="datos" >
        <p class="col rounded ">{{ gas["Rótulo"] }}</p>
        <p class="col rounded">{{ gas["Provincia"] }}</p>
        <p class="col rounded">{{ gas["Precio Gasoleo A"] }}</p>
        <p class="col rounded">{{ gas["Precio Gasolina 95 E5"] }}</p>
        <p class="col rounded">{{ gas["Precio Gasolina 98 E5"] }}</p>
        <p class="col rounded">{{ gas["Precio Gasoleo Premium"] }}</p>
      </div>
    </div>

    
  </body>
</html>
